services: 
  api:
    build: .
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      - postgres
  
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${DB_PWD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres-db:/var/lib/postgresql
  
volumes:
    postgres-db: